<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New department</title>
</head>
<body>

<form th:method="POST" th:action="@{/departments}" th:object="${department}">
  <label for="name">Введите название подразделения: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>
  <input type="submit" value="Создать!"/>
</form>

</body>
</html>